<form action="" method="post">
    <label>
        Login
    </label>
    <br/>
    <input type="text" name="Login" />

    <br />
    <label>
        Senha
    </label>
    <input type="password" name="Senha" />

    <br />
    <button>
    </button>
    <input type="password" name="Senha" />








</form>