<h1>Minha Tela</h1>

<p>essa é a action referente ao HomeController action MinhaTela</p>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGp2n6m2DBm4mrIWWnZFg_vt3eNx1lCg9MIInknyo&s">

<img src="~/logoRealMdrid.png"/>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Idade</th>
        </tr>

    </thead>

    <tbody>
        <tr>
            <th>1</th>
            <th>Fernando</th>
            <th>32</th>
        </tr>

        <tr>
            <th>2</th>
            <th>Maria</th>
            <th>18</th>
        </tr>

        <tr>
            <th>3</th>
            <th>Sebastião</th>
            <th>60</th>
        </tr>

    </tbody>

</table>